<html>
    <body>
        <div>Please change driver for the team {{shortName}}</div>
        <form method="post">
            <input type="text" name="Name" placeholder="Введите имя драйвера">
            <button type="submit">Добавить</button>
        </form>
    </body>
</html>